@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  font: normal 100%/1.5 'futura', sans-serif;
  height: 100%;
}
*, *::before, *::after {
  box-sizing: inherit;
 }
body{
	height: 100%;
}

header{
	background-color: #C2D5D2;
}

.banner{
	background-image: url("../images/cheetah.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
}

.buttons{
	padding: 15px;
	text-decoration: none;
	background-color: #C2D5D2; 
}

.nav {
	display: none;
	margin: 0;
	padding: 0;
	float: right;
}

.nav-check:checked ~ .nav {
	display: block;
}
.nav-check {
	position: absolute;
	top: -3em;
}
.nav-check:checked ~ .nav-label {
	background-color: #934D6A;
}
.nav-label{
	cursor: pointer;
	font-size: 1.25rem;
	display: inline-block;
	width: 40px;
	float: right;
}
.nav-label img{
	display: block;
	width: 100%;

}
.nav a{
	display: block;
	text-decoration: none;
	padding: .85rem;

}
.logo{
	width: 15%;
	height: auto;
	margin: 0;
	display: inline-block;

}
.transparent{
	padding: .5rem;
	background-color:rgba(147, 77, 107, 0.5);
}
.startbutton {
	color: #fff;
	text-decoration: none;
	padding: .75rem;
	background-color: #C2D5D2;
}
.submit{
	display: inline-block;
	width: 100%;
	margin: 0em 10em 0em 0em;
}
.grey{
	background-color: #778692;
}
.medgrey{
	background-color: #414352;
}
.lightgrey{
	background-color: #934D6A;
}
.numbers{
	width: 20%;
}
footer{
	width: 100%;
}
.start{
	text-decoration: none;
	float: right;
}
.pay{
	color: #778692;
	text-align: center;
}
h2{
	color: #fff;
}
p{
	color: #C2D5D2;
}
blockquote{
	margin: 0;
}
form{
	padding: 1rem;
}
button{
	border: none;
}
.light-text{
	color: #C2D5D2;
}
.purptext{
	color: #934d6a;
}
fieldset {
	border: none;
}
.squish{
	line-height: .5em;
}
.contact{
	text-decoration: underline;

}
footer{
	background-color: #414352;
}
 @media only screen and (min-width: 25em) {

.nav label{
	display: none;
}

.nav-check:checked ~ .nav{
	display: none;
}
.nav-label img{
	display: none;
}
.nav{
	display: inline-block;
}


